
nav {
    background-color: #afdff37a;
    padding: 10px;
    margin-bottom: 50px;
  
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin: 0 10px;
    
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s ease-in-out;
    color: rgb(97, 97, 233);
  }
  
  a:hover {
    color: #0e1546;
  }
  